<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Staker Console</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- https://web.dev/uses-rel-preconnect -->
    <link rel="preconnect" href="https://storage.googleapis.com">
    <link rel="icon" href="/eth-staker-logo-light.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/eth-staker-logo-light.svg" color="#FFFFFF">
    <link
      rel="icon"
      href="/favicon-16x16.png"
      type="image/png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="/favicon-32x32.png"
      type="image/png"
      sizes="32x32"
    />
    <meta name="theme-color" content="#ffffff">

    <meta
      property="og:title"
      content="Staker Console"
      data-react-helmet="true"
    >
    <meta
      name="description"
      content="A web-based application for managing Ethereum validators, allowing users to deposit, top-up, upgrade, consolidate, withdraw, and exit validators through an intuitive interface"
      data-react-helmet="true"
    />
    <meta
      property="og:description"
      content="A web-based application for managing Ethereum validators, allowing users to deposit, top-up, upgrade, consolidate, withdraw, and exit validators through an intuitive interface"
      data-react-helmet="true"
    >
    <% if (VITE_GA_MEASUREMENT_ID) { %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=%VITE_GA_MEASUREMENT_ID%"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('consent', 'default', {
          ad_storage: 'denied',
          ad_user_data: 'denied',
          ad_personalization: 'denied',
          analytics_storage: 'denied'
        });

        gtag('config', '%VITE_GA_MEASUREMENT_ID%', {
          anonymize_ip: true,
          allow_google_signals: false,
          restricted_data_processing: true,
          send_page_view: false
        });
      </script>
    <% } %>
    <!-- https://web.dev/defer-non-critical-css/ -->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  </head>
  <body style="background-color: #333333" id="tailwind-root">
    <div id="app-root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
